<div class="container">
  <%= link_to "Back to City Page", city_path(@city) %>

  <h3><%= @question.title %></h3>
  <p><%= @question.body %></p>

  <% if current_user && current_user.id == @question.user_id %>
    <%= link_to "Edit Question", edit_city_question_path(@city, @question) %> | <%= link_to "Delete Question", city_question_path(@city, @question), :method => 'delete' %>
  <% end %>
  <br/><br/><br/>
  <h2>Answers</h2>
  <% if user_signed_in? %>
    <%= render :template => 'answers/new' %>
  <% end %>
  <% @question.answers.each do |answer| %>
  <div class="answer">
    <p class="answer-body"><%= answer.body %></p>
    <small class="answer-user">Posted by <%= answer.user.name  unless answer.user.nil? %></small>
    <% if current_user && current_user.id == answer.user_id %>
      <%= link_to "Edit Answer", edit_city_question_answer_path(@city, @question, answer) %> | <%= link_to "Delete Answer", city_question_answer_path(@city, @question, answer), :method => 'delete' %>
    <% end %>
  </div>
  <% end %>
</div>