<div class="container">
  <%= link_to "Back to City Page", city_path(@city) %>

  <h3><%= @question.title %></h3>
  <p><%= @question.body %></p>

  <br/><br/><br/>
  <h2>Answers</h2>
  <% if user_signed_in? %>
    <%= render :template => 'answers/new' %>
  <% end %>
  <% @question.answers.each do |answer| %>
  <div class="answer">
    <p class="answer-body"><%= answer.body %></p>
    <p class="answer-user">Posted by <%#= answer.user.name %></p>
  </div>
  <% end %>
</div>