<!DOCTYPE html>
<html>
<head>
  <title>CityKnow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vote" %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:50px">
  <%= render 'layouts/navbar' %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-2"><%= render 'layouts/sidebar' %></div>
    <div class="col-md-10"><%= yield %></div>

  </div>

<% else %>
  <%= yield %>
<% end %>


</body>
</html>
